
*{margin:0;
box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}


/*comienza el HEADER*/

header div.sup{
    background: #1CD1B0;
    color: #000000;
    font-size: 15px;
    padding-left: 10px;
}

header div.sup2{
    
    background: #00669F;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
    display: flex;
    
    
    
}

div.sup2 h1{
    font-weight: lighter;
}

 img{
    width: 40px;
    height: 5x;
    margin-right: 5px;

    
}

/* comienza el MAIN*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 15%;
    
    

}

div h2.form-conteiner{
    padding-bottom: 5%;
    font-size: 3.75rem;
}


input{
    display:flex;
    width: 250%;
    padding: 5%;
    margin: 5%;
    border: solid 2px #000000;
    
}

button{
    background: #1CD1B0;
    border-radius: 30px;
    border: none;
    margin-top: 20%;
    font-size: 1.7em;
    text-align: center;
    width: 250%;
    padding: 3%;
    
}

p.form-phrase{
    margin-top: 2%;
    margin-left: 15%;
    
}

a{
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#00669F;
}

p.bottom{
    text-align: center;
    color: #FFFFFF;
    font-size: 1.3em;
    padding: 1%;
}
